@charset "utf-8";

#header div#gNav #gNavInner {
height: 62.5px!important;
background: url(../images/cloudOff.png) repeat-x bottom!important;
background-size: 180px!important;
}
#header div#gNav #gNavInner:hover,
#header div#gNav.hover #gNavInner {
background: url(../images/cloudOff.png) repeat-x bottom!important;
background-size: 180px!important;
}
#gNavBox li#nav6 a {
	background-image: url(../images/picture_mob.svg)!important;
	background-position: 10px 12px!important;
}
#socialBoxAlt {
width: 40px;
left: 1%!important;
right: auto!important;
margin-left: 0;
margin-top: 0;
top: 55px;
}