
#####phpversion#####
AddHandler x-httpd-php5.3 .php .phps
#####end:phpversion#####
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
AddType image/svg+xml .svg
AddType image/svg+xml .svgz
AddType text/x-component .htc